<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dots 2D</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="regl example with 2D dots">
    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
    <ul>
      <li><a href="/index.html">Home</a></li>
    </ul>
    <h1>regl dots 2D example</h1>
    <p>inpired by Jim Vallandingham's block 
      <a href="https://bl.ocks.org/vlandham/0223315b7a1896e5a22c89f283d1b0fc" 
      target="_blank">regl dots basic</a>
    </p>
    <div id="container">
      <canvas id="regl-canvas" width="800" height="400"
       style="border:1px solid #000000;">
      </canvas>
    </div>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
