<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Home of regl-playground">
    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
    <header>
      <h1>List of regl examples</h1>
    </header>
    <ul>
      <li><a href="/one-shot-rendering.html">one-shot rendering</a></li>
      <li><a href="/batch-rendering.html">batch rendering</a></li>
      <li><a href="/dots-2d.html">2D dots</a></li>
      <li><a href="/dots-2d-shaders.html">2D dots (with some changes to shaders)</a></li>
      <li><a href="/bunny.html">bunny</a></li>
      <li><a href="/tween-circles-blending.html">Tween circles blending</a></li>
      <li><a href="/sprites.html">Sprites</a></li>
      <li><a href="/regl-and-d3.html">regl + d3</a></li>
    </ul>
    <p>For documentation, see the <a href="http://regl.party/" target="_blank">regl API</a>.</p>
    <footer>Examples with regl version <code>2.0.1</code></footer>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
