<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Home of regl-playground">
    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
    <header>
      <h1>I am the header.</h1>
    </header>
    <ul>
      <li><a href="/one-shot-rendering.html">one-shot rendering</a></li>
      <li><a href="/batch-rendering.html">batch rendering</a></li>
      <li><a href="/dots-2d.html">2D dots</a></li>
      <li><a href="/dots-2d-shaders.html">2D dots (with some changes to shaders)</a></li>
      <li><a href="/bunny.html">bunny</a></li>
    </ul>
    <p>Hello</p>
    <footer>I am the footer.</footer>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
