<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>One shot rendering</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="regl example with one shot rendering">
    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
    <ul>
      <li><a href="/index.html">Home</a></li>
    </ul>
    <h1>regl one shot rendering example</h1>
    <div id="regl-canvas-container"></div>
    <div>
      <canvas id="regl-canvas"></canvas>
    </div>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
