<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>regl and d3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="regl example with batch rendering">
    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
    <ul>
      <li><a href="/index.html">Home</a></li>
    </ul>
    <h1>regl + d3 example</h1>
    <p>Inspired by the amazing
      <a href="https://peterbeshai.com/beautifully-animate-points-with-webgl-and-regl.html" 
      target="_blank">Peter Beshai's</a> blog post.
    </p>
    <div id="regl-canvas-container"></div>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
