<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sprites</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="regl example with batch rendering">
    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
    <ul>
      <li><a href="/index.html">Home</a></li>
    </ul>
    <h1>Sprites example</h1>
    <p>An iteration of 
      <a href="https://codepen.io/rsreusser/pen/MJemEW?q=regl&limit=all&type=type-pens" 
      target="_blank">this example on Codepen by Ricky </a>
    </p>
    <div id="regl-canvas-container">
      <canvas id="regl-canvas"></canvas>      
    </div>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
