<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tween circles blending</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="regl example with batch rendering">
    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
    <ul>
      <li><a href="/index.html">Home</a></li>
    </ul>
    <h1>Tween circles blending example</h1>
    <p>inpired by 
      <a href="https://bl.ocks.org/micahstubbs/18e22208f11ba6aae2c612e3b38610d7" 
      target="_blank">Micah Stubb's</a> and 
      <a href="http://bl.ocks.org/rflow/7b6e060f6f26f3006299f73976b480e5" 
      target="_blank">Alastair</a> 
      <a href="http://bl.ocks.org/rflow/39692bd181fb1eb0b077a4caf886b077" 
      target="_blank">Dant's</a> blocks.
    </p>
    <div id="regl-canvas-container"></div>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
